body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-img {
  width: 100%;
  min-width: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url(images/header\ bg.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav ul li a:hover {
  color: white;
  cursor: pointer;
  transition: color 0s, box-shadow 0.4s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* .bg-img{
    background-image: url(images/header\ bg.jpg);
    background-size: cover;
    background-position: center;
    
} */

.header {
  width: 100%;
  height: 700px;

  padding: 20px;
}

#club_logo {
  width: 190px;
  height: 200px;
  margin-top: 150px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-content h3 {
  letter-spacing: 0.5px;
  font-size: 6rem;
  font-weight: 300px;
  margin-bottom: 0.5rem;
  font-family: "Trebuchet MS";
  color: white;
  text-align: center;
}

.header-content p {
  font-weight: 400;
  letter-spacing: 0.2px;
  font-size: 2rem;
  font-family: Cambria;
  color: white;
  text-align: center;
}

.about {
  width: 100%;
  height: auto;
  background-color: rgb(8, 23, 40);
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-heading {
  font-size: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 8px;
  background-color: rgb(8, 23, 40);
  font-family: Cambria;
}

.about-content {
  width: 50%;
}

/* .about-img {
  width: 50%;
} */

.about-img img {
  height: auto;
  width: 600px;
  /* padding-left: 7rem;
  width: 90%; */
}

.about-content p {
  border: 1px solid;
  padding: 2rem;
  margin: 2rem 1.5rem 4rem 3rem;
  font-size: 1.7rem;
  font-weight: 200;
  border-radius: 25px;
  color: white;
}

.team {
  width: 100%;
  height: auto;
  background-color: rgb(3, 35, 72);
}

#team-heading {
  display: flex;
  font-family: Cambria;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  background-color: rgb(3, 35, 72);
}

#team-heading h2 {
  letter-spacing: 0.5px;
  font-size: 3rem;
  font-weight: 300;
  color: white;
}

#team-heading p {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  color: white;
}

.team-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 60px;
  flex-wrap: wrap;
}

.resources{
  width: 100%;
  height: auto;
  background-color: rgb(8, 23, 40);
}

#resource-heading {
  display: flex;
  font-family: Cambria;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  background-color: rgb(8, 23, 40);
  color: white;
}

.read-more{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(8, 23, 40);
  color: rgb(255, 255, 255);
  padding: 5px;

}

.read-more:hover{
  box-shadow: 0 4px 8px rgba(0, 13, 255, 0.8);
}
.read-more img{
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.card {
  margin: 15px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.card-img-top {
  width: 5rem;
  height: 15rem;
}

.card-body {
  margin: auto;
  text-align: center;
}

.btn {
  width: 35px;
}

.btn img {
  width: 30px;
  height: 30px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 86, 184);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 30px;
  height: 30px;
}

#footer-text {
  color: white;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 700px) {
  .bg-img {
    width: 100%;
    min-height: 100vh;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(images/header\ bg.jpg);
    background-size: cover;
    background-position: center;
  }

  .header {
    width: 100%;
    height: 100vh;

    padding: 20px;
  }
  nav ul {
    width: 100%;
    position: relative;
    z-index: 2;
    background: linear-gradient(rgb(5, 22, 50), rgb(4, 4, 58));
    overflow: hidden;
    top: 105px;
    right: 0;
  }

  nav ul li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: white;
  }

  .menu-icon {
    display: block;
  }

  #menulist {
    overflow: hidden;
    transition: 0.5s;
  }
  #club_logo {
    width: 90px;
    height: 100px;
    margin-top: 250px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  .header-content h3 {
    letter-spacing: 0.5px;
    font-size: 3rem;
    font-weight: 200px;
    margin-top: 0.7rem;
    margin-bottom: 0.2rem;
    font-family: "Trebuchet MS";
    color: white;
    text-align: center;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  .header-content p {
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 1rem;
    color: white;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  .about {
    width: 100%;
    height: auto;
    background-color: rgb(8, 23, 40);
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
  }

  #about-heading {
    font-size: 35px;
    text-align: center;
    color: white;
    padding-top: 35px;
    padding-bottom: 8px;
    background-color: rgb(8, 23, 40);
  }

  .about-content p {
    border: 1px solid;
    padding: 1rem;
    margin: 2rem 1.5rem 4rem 3rem;
    font-size: 1.2rem;
    font-weight: 100;
    border-radius: 18px;
    color: white;
    text-align: justify;
  }

  .about-content {
    width: 100%;
  }

  /* .about-img {
    width: 70%;
  } */

  .about-img img {
    height: 300px;
    width: 300px;
  }
  /* .card{
    width: 20px;
  } */

  .card-img-top {
    width: 3rem;
    height: 12rem;
  }

  #footer-text {
    color: white;
    text-align: center;
    padding: 7px;
  }
}
